<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{fragments/layout-sidenav-light}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Driver</title>
</head>
<body>
<div class="content" data-layout-fragment="content">
    <div class="container-fluid">
        <h1 th:text="#{title.application}">Editieren Sie Ihr Profil</h1>
        <hr/>
        <form th:action="@{/driver}" th:object="${driver}" method="post">
            <table class="table table-striped">
                <tr>
                    <td><input class="form-control" id="inputPasswordConfirm" type="text" th:field="*{firstName}" th:placeholder="#{driver.firstName}"/></td>
                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
                </tr>
                <tr>
                    <td th:text="#{driver.lastName}">Lastname:</td>
                    <td><input type="text" th:field="*{lastName}"/></td>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>
                </tr>
                <tr>
                    <td th:text="#{driver.age}">Age:</td>
                    <td><input type="number" th:field="*{age}"/></td>
                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
                </tr>
                <tr>
                    <td th:text="#{driver.mail}">Mail:</td>
                    <td><input type="text" th:field="*{email}"/></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
                </tr>
                <tr>
                    <td th:text="#{driver.street}">Streeet:</td>
                    <td><input type="text" th:field="*{street}"/></td>
                    <td th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Name Error</td>
                </tr>
                <tr>
                    <td th:text="#{driver.birthday}">birthday:</td>
                    <td><input type="date" th:field="*{birthdate}"/></td>
                    <td th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}">Birthday error</td>
                </tr>
                <tr>
                    <td><input type="submit"
                               value="Submit"/>
                        <input type="reset"
                               value="Reset"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</div>
</body>
</html>